
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<!DOCTYPE html>
<html>
<body>
    <object height="50" width="100" data="`/h1.mp3"></object>
</body>
</html>
