
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<style>
    * {
        background-image: url('wybimages/39965ffdd0d342bf978f635647716fd5_12.png');
    }
</style>

<div style="        width: 100%;
        height: 100%;background-image: url('c:\users\administrator\desktop\二月项目\webhouseapi\webhousemvc\webhousemvc\wimages\1.jpg');
">

    <img src="~/WybImages/39965ffdd0d342bf978f635647716fd5_12.png" style="display:block;"/>
    <div style=" background-image: url('/WybImages/39965ffdd0d342bf978f635647716fd5_12.png'); width: 500px; height: 500px;">
        <div style="width:50px; height:50px;background:#000000">

        </div>
    </div>
</div>