
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="zh_CN">



    <head>
        <meta charset="UTF-8">
                <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title>516安居天下</title>
        <meta name="keywords" content="">
<meta name="description" content="。">
                    <link rel="icon" sizes="16x16" href="favicon.ico">
                    
                                <script>
                var liveBase = false;
                var CSRF_TOKEN  = "KtMvfmDew-gfIUcsNeMeQJZmxA2MCGbWmykZpueoSj4";
                var jsbase      = "/bundles";
                var BASE_URL    = "/";
                var BUNDLE_PATH = "house"; // 主bundle路径 `house`
                var REMOTE_URL  = ""; // 远程图片路径拼接
                var VERSION     = '8.5.0.0';
                // 供百度兼容https使用
               var HOST_TYPE   = 2;
               var MAPKEY = 'LFxVWrzLtIWBOINDI25iituw7MirSZKk'
            </script>
            <link rel="stylesheet" href="css/ats.css">
            
<link rel="stylesheet" href="css/global.css">
<link rel="stylesheet" href="css/im.css">
            <link rel="stylesheet" href="css/index.css">
                            <script type="text/javascript" src="js/seajs.js"></script>
                        <script type="text/javascript" src="js/seajs.cfg.js"></script>
<script type="text/javascript">
var web = "frontEnd"; //前台
seajs.use([
    'jqhoverS',
    'fixed',
    'common'
], function(jqHoverS, fixed, common) {
    $(function() {
        // console.log('执行。。。');
        // 调用统计
        common.getcounts({
            url: 'https://house.08cms.com/igetcounts'
        });
        // 广告统计
        common.adcount({
            saveUrl : 'https://house.08cms.com/viewinter/vote'
        });
        // 表单处理
        common.form({
            ajax: {
                // 获取表单的默认地址
                url: 'https://house.08cms.com/bundlebindforms/ajaxform',
            }
        })
    })
});
</script>
                            
    </head>
    <body>
        <!--header-->
        <div class="header scrollToFixed clearfix" data-spacer-class="header-spacer">
            <div class="header-bg"></div>
            <div class="container">
                <div class="logo fl">
                    <span class="logocen">
                        <a href="index.html"><img width="140" height="40" alt="08CMS房产门户系统[东莞]" src="WybImages/logo1.png"></a>
                    </span>
                </div>

                <div class="area fl">
                    <div data-hover="hoverslider" data-obj=".more-area">
                        <div class="cur-area">上海市</div>
                    </div>
                </div>

                <ul class="nav fl" data-tag="zdh">
                    <li>
                        <a target="_self" href="/index.html" class="hoverslider act" data-obj=".nav-more" data-direction="bottom" data-offsetx="50%">
                            首页
                        </a>
                    </li>
                    <li>
                        <a target="_self" href="NewHouse.html" class="hoverslider" data-obj=".nav-more" data-direction="bottom" data-offsetx="50%">
                            新房
                        </a>
                    </li>
                    <li>
                        <a target="_self" href="SHouse.html" class="hoverslider" data-obj=".nav-more" data-direction="bottom" data-offsetx="50%">
                            二手房
                        </a>
                    </li>
                    <li>
                        <a target="_self" href="WUdesHouse.html" class="hoverslider" data-obj=".nav-more" data-direction="bottom" data-offsetx="50%">
                            出租
                        </a>
                    </li>
                </ul>


                <div id="login" class="loginbar" data-login="1" data-config="{
        tpl: '#logintpl',
        url: 'https://house.08cms.com/viewinter/logininfo',
        logoutUrl : 'https://house.08cms.com/logout',
        loginUrl: 'https://house.08cms.com/viewinter/viewlogin',
        login: 'https://house.08cms.com/login',
        modal: '.winlogin'
    }">
                    <div class="login-out">
                        <div class="login-out-btn">
                            <a href="/Landing/Landing" data-modal=".winlogin" title="登录">
                                登录
                            </a>
                            <a href="/Landing/Reister" title="注册" target="_blank">
                                注册
                            </a>
                        </div>
                        
                    </div>
                </div>

                <script>
                    seajs.use(['jqhoverS'], function (jqhoverS) {
                        $('#login').on('backfn', function () {
                            $('.login-info').hoverSlider({
                                offsetx: 0,
                                obj: '.login-operate',
                                delay: 10
                            });
                            $('.login-out-btn').hoverSlider({
                                offsetx: 0,
                                offsety: 60,
                                obj: '.login-quick',
                                delay: 10
                            })
                        });
                    });
                </script>

                <script id="logintpl" type="text/html">
                    <% if (data.loginstate == 1) { %>
                    <div class="login-in">
                        <div class="login-info">
                            <a href="https://house.08cms.com/main" target="_blank">
                                <i class="font-icons-2"></i> <span><%= data.name %></span> <i class="font-icons-1"></i>
                            </a>
                        </div>
                        <ul class="login-operate login-btn">
                            <% if(data.type == 'MemberBundle') { %>
                            <li>
                                <a href="https://house.08cms.com/main#/guanzhufangyuan" title="我的收藏" target="_blank">
                                    <i class="font-icons-3"></i>
                                    我的收藏
                                </a>
                            </li>
                            <li>
                                <a href="https://house.08cms.com/main#/usersale" title="我要发布" target="_blank">
                                    <i class="font-icons-5"></i>
                                    我要发布
                                </a>
                            </li>
                            <li>
                                <a href="https://house.08cms.com/member_main" title="会员中心" target="_blank">
                                    <i class="font-icons-6"></i>
                                    会员中心
                                </a>
                            </li>
                            <% } else { %>
                            <li>
                                <a href="https://house.08cms.com/main" title="后台管理" target="_blank">
                                    <i class="font-icons-6"></i>

                                    后台管理
                                </a>
                            </li>
                            <% } %>
                            <li>
                                <a data-logout="1" href="javascript:;" title="安全退出">
                                    <i class="font-icons-7"></i>
                                    安全退出
                                </a>
                            </li>
                        </ul>
                    </div>
                    <% } else { %>
                    <div class="login-out">
                        <div class="login-out-btn">
                            <a href="https://house.08cms.com/login" data-modal=".winlogin" title="登录">
                                <i class="font-icons-2"></i>登录
                            </a>
                            <a href="https://house.08cms.com/register" title="注册" target="_blank">
                                <i class="font-icons-30"></i>注册
                            </a>
                        </div>
                        <ul class="login-quick login-btn">
                            <li>
                                <a href="https://house.08cms.com/connect/qq">
                                    <i class="font-icons-38 qq"></i>
                                    QQ登录
                                </a>
                            </li>
                        </ul>
                    </div>

                    <% } %>
                </script>
            </div>
        </div>
        <!--/header-->
        <!-- img slide -->

        <div id="slider-wrap" class="slider-wrap2" data-tag="jdt">
            <!-- 表单2 start -->
            <!--<div class="index-search">
                <div class="commcent">
                    <div class="common-search">
                        <form action="https://house.08cms.com/xinfang" target="_blank">
                            <div class="s-cate">
                                <span><i>新房</i><em class="font-icons-26"></em></span>
                                <div>
                                    <p>
                                        <span data-href="https://house.08cms.com/xinfang" data-left="102" data-pama="{" searchword":"请输入楼盘名称 /地址/拼音"}">新房</span>
                                        <span data-href="https://house.08cms.com/esf" data-left="40" data-pama="{" searchword":"请输入二手 /小区"}">二手房</span>
                                        <span data-href="https://house.08cms.com/zu" data-left="150" data-pama="{" searchword":"请输入出租 /小区"}">租房</span>
                                        <span data-href="https://house.08cms.com/news/list" data-pama="{" searchword":"请输入资讯关键字", "autocomplete" : 0}">资讯</span>
                                        <span data-href="https://house.08cms.com/xiaoqu" data-pama="{" searchword":"请输入小区关键字", "autocomplete" : 0}">查小区</span>
                                    </p>
                                </div>
                            </div>
                            <div class="s-txt">


                                <input type="text" name="name" class="search-input fl" placeholder="请输入楼盘名称/地址/拼音" data-autocomplete="1" data-placeholder="1">


                            </div>
                            <div class="s-btn">
                                <input type="submit" value="&#xEA0F;" class="search-btn fl font-service-search">
                            </div>
                        </form>
                    </div>
                </div>
            </div>-->
            <!-- 表单2 End -->

            <div class="jqDuang ma" data-duang="1" data-cell=".small-btn" data-nextbtn=".next-btn" data-prevbtn=".prev-btn" data-obj=".slider">
                <div class="slider-content">
                    <div class="slider house-ad right-top">
                        <a data-ad="{models: 'pushs',id:124 ,field: 'clicks' }" href="http://auto.08cms.com" style="background: url(images/6.jpg) center 0 no-repeat" target="_blank">
                            <div class="ad-txt"></div>
                        </a>
                    </div>
                    <div class="slider house-ad right-top">
                        <a data-ad="{models: 'pushs',id:123 ,field: 'clicks' }" href="/" style="background: url(images/7.jpg) center 0 no-repeat" target="_blank">
                            <div class="ad-txt"></div>
                        </a>
                    </div>
                    <div class="slider house-ad right-top">
                        <a data-ad="{models: 'pushs',id:122 ,field: 'clicks' }" href="/" style="background: url(images/8.jpg) center 0 no-repeat" target="_blank">
                            <div class="ad-txt"></div>
                        </a>
                    </div>
                </div>
                <div class="small-btn"></div>
                <div class="prev-btn">
                    <i class="font-ico-arwl"></i>
                </div>
                <div class="next-btn">
                    <i class="font-ico-arwr"></i>
                </div>
            </div>
        </div>

        <!-- /img slide -->
        <!--menu-->
        <div class="menu clearfix" data-tag="zhudaohang">
            <div class="container ma">
                <dl class="clearfix">
                    <dt>
                        <a href="NewHouse.html" title="买房" target="_blank">买房</a>
                    </dt>
                    <dd class="clearfix">
                        <a href="NewHouse.html" title="新房" target="_blank">新房</a>
                        <a href="SHouse.html" title="二手房" target="_blank">二手房</a>
                        <a href="" title="打折优惠" target="_blank">打折优惠</a>
                        <a href="" title="团购" target="_blank">团购</a>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>
                        <a href="" title="卖房" target="_blank">卖房</a>
                    </dt>
                    <dd class="clearfix">
                        <a href="" title="小区房价" target="_blank">小区房价</a>
                        <a href="" title="查房价" target="_blank">查房价</a>
                        <a href="" title="我要卖房" target="_blank">我要卖房</a>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>
                        <a href="WUdesHouse.html" title="租房" target="_blank">租房</a>
                    </dt>
                    <dd class="clearfix">
                        <a href="" title="商铺" target="_blank">商铺</a>
                        <a href="" title="写字楼" target="_blank">写字楼</a>
                        <a href="" title="求租" target="_blank">求租</a>
                        <a href="" title="租房地图" target="_blank">租房地图</a>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>
                        <a href="javascript:;" title="其他" target="_blank">其他</a>
                    </dt>
                    <dd class="clearfix">
                        <a href="" title="视频" target="_blank">视频</a>
                        <a href="" title="问答" target="_blank">问答</a>
                        <a href="" title="资讯" target="_blank">资讯</a>
                        <a href="" title="预售查询" target="_blank">预售查询</a>
                        <a href="" title="土地查询" target="_blank">土地查询</a>
                    </dd>
                </dl>
            </div>
        </div>
        
        <script type="text/javascript">
            seajs.use([], function () {
                $("#yanshi dt").click(function () {
                    var $this = $(this);
                    $this.toggleClass('ico').next().toggle();
                });
                $("#yanshi dt a").click(function (e) {
                    e.stopPropagation();
                });
            })
        </script>


        
        <!--footer-->
        <div class="footer">
            <div class="container">
                


                <div class="blank20"></div>
                <div class="container">
                    
                    <div class="copy-right">
                        <p class="copy">Copyright &copy; 2010-2020 <a href="index.html">516安居天下</a> All rights reserved.</p>

                    </div>
                </div>
            </div>
        </div>

        <!--/footer-->

        <script type="text/javascript">
            seajs.use(['common'], function () { });
        </script>

        <script type="text/javascript">
            /*
                    = jqhoverS:左侧详情筛选
                    = jqduang：幻灯片、选项卡、slider
                    = placeholder：兼容低版本输入框文字提示
                    = autocomplete：搜索框自动补全提示
                */
            seajs.use([
                'jqhoverS',
                'jqduang',
                'beitou',
                'lazyload'
            ], function (jqhoverS, jqduang, beitou, lazyload) {
                //新搜索选择
                $('.common-search').on('mouseover', '.s-cate', function (e) {
                    e.stopPropagation();
                    $(this).find('div').addClass('act');
                }).on('mouseleave', '.s-cate', function (e) {
                    e.stopPropagation();
                    $(this).find('div').removeClass('act');
                }).on('click', '.s-cate div span', function () {
                    var $this = $(this);
                    var pama = $this.data("pama");
                    var $searchInput = $(pama.target || '.search-input');
                    var url = $this.data('href');
                    $this.closest('form').attr('action', url);
                    $(this).parent('p').parent('div').removeClass('act').siblings('span').find('i').text($(this).text());

                    $searchInput
                        .val('')
                        .attr('placeholder', pama.searchword)
                        .autocomplete('hide')
                    // 是否启用自动完成
                    if (pama.autocomplete === 0) {
                        $searchInput.autocomplete('disable');
                    } else {
                        $searchInput.autocomplete('enable')
                            .autocomplete('setOptions', {
                                serviceUrl: url
                            });
                    };
                });

                // 排行榜
                $(document).off('.indexsort').on('click.indexsort', '[ data-indexsort]', function () {
                    var $this = $(this);

                    var index = $this.data('indexsort') - 1;

                    $this.addClass('active').siblings().removeClass('active');

                    var $list = $this.parents('.index-sort-title').siblings('.index-sort-content').find('.active');
                    // console.log($list.index())
                    if ($list.index() != index) {
                        $list.removeClass('active').siblings().addClass('active');
                    }
                })
                //slider左右箭头的显示隐藏
                $("#slider-wrap").hover(function () {
                    $(this).find(".prev-btn,.next-btn").css("opacity", ".8");
                }, function () {
                    $(this).find(".prev-btn,.next-btn").css("opacity", "0");
                });
                // 背投广告
                beitou.init({ showing: 20000 });
            });
        </script>
        <div data-gotop="1" class="return-top" style="display: none;">
            <i class="font-icons-33"></i>
        </div>
    </body>
</html>
